@mixin list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin link-unstyled {
  color: #fff;
  text-decoration: none;
}



// RESPONSIVE

@mixin breakpoint-down ($screen-width) {
  @media only screen and (max-width:$screen-width) {
    @content
  }
}
